# Ignore Python's files
__pycache__/

# Datafolder
SNeMPhyVAE/data/

# WandB files
SNeMPhyVAE/wandb/

# Environment files
SNeMPhyVAE/bin/
SNeMPhyVAE/lib/
SNeMPhyVAE/include/
SNeMPhyVAE/pyvenv.cfg
SNeMPhyVAE/lib64
SNeMPhyVAE/share/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Results folder
SNeMPhyVAE/results/

# Keys and credentials
SNeMPhyVAE/WANDB_API.key